doctype html
html(lang='en')
    head
      title My Also Awesome Tip calc
      link(href='/style.css', rel='stylesheet')
    body
      h1 Super Tip Calc
      form(action='/tipcalc', method='post')
        p
          label Amount
          input(type='number', name='amount', value= amount)
        p
          label Tip
          select(name='percent', value=percent)
            option 5%
            option 10%
            option 15%
            option 20%
        p
          button(type='submit') Compute Tip
        p
          span= result
